body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}

.titulo {
    border: solid 3px #955b48;
	padding:  2px;
	margin: 0 auto;
    margin-top: 5px;
	width: 30%;
	background: #B8AC8E;
}

.log {
    border: solid 3px #955b48;
	padding:  5px;
	margin: 0 auto;
	width: 40%;
	background: #B8AC8E;
}

.tab {
    border: solid 1px #955b48;
	padding:  2px;
	margin: 0 auto;
	width: 20%;
	background: #B8AC8E;
    border
}

input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #eee;
    margin: 20px auto;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #cb4e00;
    width: 275px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #9c3c00;
}

header{
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background: #cf380e;
}

header a{
    text-decoration: none;
    color: #333;
    background: #d79d29;
}